@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DogViewModel

@*@{
	ViewData["Title"] = "Mindgnite";
}*@
<!DOCTYPE html>
<html lang=" eng">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width", initial-scale="1.0">
	</head>
<body>
	<marquee class="alert-primary">This is Test WEBSITE for Asp.net Lesson.</marquee>
	<h1 class="text-center">welcome to Mindgnite Website</h1>



<p text-center>The time is @DateTime.Now</p>
<hr />

<div class="row">
	<div class="col-6">
		<div class=card>
			<div class=" card-header">
				<h5>Create a new dog</h5>
			</div>
			<div class=" card-body">
				<form asp-controller="Mindgnite" asp-action="CreateDog" method="post">
					<div>
						<label class="form-label">Dog</label>
						<input asp-for="Name" type="text" class="form-control" />
					</div>
					<div class="mb-3">
						<label class="form-label">Age</label>
						<input asp-for=Age type="number" class="form-control" />
					</div>
					<div class="text-center">
						<label class="form-label"></label>
						<button type="submit" class="btn btn-danger">Save</button>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<a href="https://google.com">more</a>
			</div>
			


		</div>

	</div>
</div>

</body>
</html>


